<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>ABRASPESP</title>
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<link rel="shortcut icon" href="/public/uploads/midia/abraspesp.png" type="image/x-icon"/>
<link href="http://www.abraspesp.com.br/public/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="http://www.abraspesp.com.br/public/css/default.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script><!-- jquery -->
<script type="text/javascript" src="http://www.abraspesp.com.br/public/js/bootstrap.min.js"></script>
</head>
<body >
  <header id="topo">
    <nav id="menuTopo" class="h4">
      <div class="container">
        <ul>
<li><a href="http://www.abraspesp.com.br/" class="trstn">Home</a></li>
<li><a href="http://www.abraspesp.com.br/a-harmonia" class="trstn">A Associação</a></li>
<li><a href="http://www.abraspesp.com.br/agencia-turismo" class="trstn">Agência</a></li>
<li><a href="http://www.abraspesp.com.br/indique-um-amigo" class="trstn">Indique um amigo</a></li>
<li><a href="http://www.abraspesp.com.br/contato" class="trstn">Contato</a></li>
</ul>
      </div>
    </nav>
    <div class="container">
      <h1 id="logo"><a href="http://www.abraspesp.com.br/"><img src="/public/uploads/midia/logo_abraspesp_copia_1.png" alt="Logo | ABRASPESP" /></a></h1>
    </div><!--FIM .container-->
  </header><!--FIM header-->  
    <section id="banner" class="semResutadosRotativo">
    <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li><li data-target="#carousel-example-generic" data-slide-to="1"></li><li data-target="#carousel-example-generic" data-slide-to="2"></li><li data-target="#carousel-example-generic" data-slide-to="3"></li><li data-target="#carousel-example-generic" data-slide-to="4"></li><li data-target="#carousel-example-generic" data-slide-to="5"></li><li data-target="#carousel-example-generic" data-slide-to="6"></li><li data-target="#carousel-example-generic" data-slide-to="7"></li><li data-target="#carousel-example-generic" data-slide-to="8"></li><li data-target="#carousel-example-generic" data-slide-to="9"></li>      </ol>
      <div class="carousel-inner">
        <div class="item active" style="background-image: url('/public/uploads/midia/01.jpg');"><img src="/public/uploads/midia/01.jpg" alt="" /></div><div class="item" style="background-image: url('/public/uploads/midia/02.jpg');"><img src="/public/uploads/midia/02.jpg" alt="" /></div><div class="item" style="background-image: url('/public/uploads/midia/03.jpg');"><img src="/public/uploads/midia/03.jpg" alt="" /></div><div class="item" style="background-image: url('/public/uploads/midia/04.jpg');"><img src="/public/uploads/midia/04.jpg" alt="" /></div><div class="item" style="background-image: url('/public/uploads/midia/05.jpg');"><img src="/public/uploads/midia/05.jpg" alt="" /></div><div class="item" style="background-image: url('/public/uploads/midia/06.jpg');"><img src="/public/uploads/midia/06.jpg" alt="" /></div><div class="item" style="background-image: url('/public/uploads/midia/08.jpg');"><img src="/public/uploads/midia/08.jpg" alt="" /></div><div class="item" style="background-image: url('/public/uploads/midia/10.jpg');"><img src="/public/uploads/midia/10.jpg" alt="" /></div><div class="item" style="background-image: url('/public/uploads/midia/07.jpg');"><img src="/public/uploads/midia/07.jpg" alt="" /></div><div class="item" style="background-image: url('/public/uploads/midia/09.jpg');"><img src="/public/uploads/midia/09.jpg" alt="" /></div> 
      </div>
    </div>
  </section><!--FIM section (#banner)-->
  <section id="imageScroll">
        <div class="clearfix"></div>
  </section>
  <section id="menuCorpo">
   <div class="container">
          <a href="http://www.abraspesp.com.br/associe-se"><img src="http://www.abraspesp.com.br/public/images/associese.png" alt="" class="btnassoc"></a>
     <nav>
       <ul>
<li><a href="http://www.abraspesp.com.br/beneficios" class="trstn">Benefícios</a></li>
<li><a href="http://www.abraspesp.com.br/nosso-planos" class="trstn">Nossos planos</a></li>
<li><a href="http://www.abraspesp.com.br/hoteis" class="trstn">Nossos Hotéis</a></li>
<li><a href="http://www.abraspesp.com.br/faca-sua-reserva" class="trstn">Faça sua reserva</a></li>
<li><a href="http://www.abraspesp.com.br/seja-nosso-parceiro" class="trstn">Seja nosso parceiro</a></li>
<li><a href="http://www.abraspesp.com.br/nossos-precos" class="trstn">Tarifas</a></li>
</ul>
     </nav>
   </div>
  </section>  <section id="corpo" class="home">
    <div class="container">
              <div class="coluna">
         <h3 class="titulo">Notícias</h3>
         <ul>
                       <li>
              <a href="http://www.abraspesp.com.br/noticias/feriados">
                <span class="subtitulo h4"><span>23/08/2018</span>&nbsp;- <strong>FERIADOS!</strong></span><br>
                <span class="texto h6">As Reservas para os feriados de 7 de Setembro,12 de Outubro, 02 e15 de Novembro j&aacute; est&atilde;o&#8230;</span>
              </a>
            </li>
                       <li>
              <a href="http://www.abraspesp.com.br/noticias/venho-informar-aos-nossos-associados-que-estamos-com-problemas-administrativos-no-hot-site-das-casas-bahia-estamos-providenciando-a-regularizacao-do-mesmo-e-em-breve-voltara-ao-normal-agradeco-a-compreensao-de-todos">
                <span class="subtitulo h4"><span>04/07/2018</span>&nbsp;- <strong>Venho informar aos nossos associados que estamos com problemas administrativos no Hot site das CASAS BAHIA. Estamos providenciando a regularização do mesmo e em breve voltará ao normal. Agradeço a compreensão de todos!</strong></span><br>
                <span class="texto h6"></span>
              </a>
            </li>
                       <li>
              <a href="http://www.abraspesp.com.br/noticias/telefone-para-contato">
                <span class="subtitulo h4"><span>13/01/2017</span>&nbsp;- <strong>TELEFONE PARA CONTATO:</strong></span><br>
                <span class="texto h6">Caros Sócios,Pedimos desculpas referente ao transtorno ocorrido nos últimos dias devido a um problema&#8230;</span>
              </a>
            </li>
                
         </ul>
         <div class="vertodos">
           <a href="noticias/">Ver todas as notícias</a>
         </div>
       </div>
              <div class="coluna">
         <h3 class="titulo">Depoimentos</h3>
         <ul>
                      <li>
             <a href="http://www.abraspesp.com.br/depoimentos/?depoimento=52">
                              <span class="subtitulo h4"><span>23/08/2018</span>&nbsp;- <strong>Maria Eduarda</strong></span><br>
               <span class="texto h6">Sou apaixonada por todos os hotéis, ótimas hospedagens&#8230;</span>
             </a>
            </li>
                      <li>
             <a href="http://www.abraspesp.com.br/depoimentos/?depoimento=51">
                              <span class="subtitulo h4"><span>23/08/2018</span>&nbsp;- <strong>Mariana Felix</strong></span><br>
               <span class="texto h6">Vou muito a todos os hotéis e sempre fui muito bem&#8230;</span>
             </a>
            </li>
                      <li>
             <a href="http://www.abraspesp.com.br/depoimentos/?depoimento=49">
                              <span class="subtitulo h4"><span>05/03/2018</span>&nbsp;- <strong>lilian aparecida ferreira</strong></span><br>
               <span class="texto h6">fui bem atendida ,fui fora de temporada tem muitos&#8230;</span>
             </a>
            </li>
              
         </ul>
         <div class="vertodos">
           <a href="depoimentos/">Ver todos os depoimentos</a>
         </div>
       </div>
              <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
       <div class="coluna colFacebook">
         <div class="fb-like-box" data-href="https://www.facebook.com/pages/Harmonia-Benef%C3%ADcios/461016100639263?fref=ts" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
       </div>
    </div><!--FIM .container -->
  </section><!--FIM section (#corpo)-->
<section class="empresas">
    <div class="container">
      <ul><li style="background-image:url('/public/uploads/midia/unicesumar.png');"><a href="http://www.cesumar.br/"><img src="/public/uploads/midia/unicesumar.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/untitled-1_33.png');"><a href="http://bit.ly/2AZLbqI"><img src="/public/uploads/midia/untitled-1_33.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/space.png');"><a href="http://www.spacetennis.com.br/clubes-de-desconto/abraspesp/"><img src="/public/uploads/midia/space.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/photo.jpg');"><a href="http://harmoniabeneficios.com.br/beneficios/advogados/ferreira-sales-advogados"><img src="/public/uploads/midia/photo.jpg" alt=""></a></li><li style="background-image:url('/public/uploads/midia/logobilheteria_preto.png');"><a href="http://www.bilheteria.com/harmoniabeneficios"><img src="/public/uploads/midia/logobilheteria_preto.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/mello_logo.jpg');"><a href="http://www.mellodiagnostico.com.br/"><img src="/public/uploads/midia/mello_logo.jpg" alt=""></a></li><li style="background-image:url('/public/uploads/midia/logo_britania.jpg');"><a href="https://www.britaniaemcasa.com.br"><img src="/public/uploads/midia/logo_britania.jpg" alt=""></a></li><li style="background-image:url('/public/uploads/midia/philco.png');"><a href="https://www.philcoclub.com.br"><img src="/public/uploads/midia/philco.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/logo_sorridents.jpg');"><a href="http://sorridents.com.br/"><img src="/public/uploads/midia/logo_sorridents.jpg" alt=""></a></li><li style="background-image:url('/public/uploads/midia/avis_4cp_pos.jpg');"><a href="http://www.avis.com.br/"><img src="/public/uploads/midia/avis_4cp_pos.jpg" alt=""></a></li><li style="background-image:url('/public/uploads/midia/fisk.jpg');"><a href="http://www.fisk.com.br/"><img src="/public/uploads/midia/fisk.jpg" alt=""></a></li><li style="background-image:url('/public/uploads/midia/logo_mv_novo.jpg');"><a href="http://sitenovo.harmoniahost.com.br/beneficios/compras"><img src="/public/uploads/midia/logo_mv_novo.jpg" alt=""></a></li><li style="background-image:url('/public/uploads/midia/logo1.png');"><a href="http://www.cruzeirodosul.edu.br/"><img src="/public/uploads/midia/logo1.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/uninove.png');"><a href="http://www.uninove.br/"><img src="/public/uploads/midia/uninove.png" alt=""></a></li><li style="background-image:url('public/uploads/midia/trirevistas.gif');"><a href="http://www.assineabril.com.br/harmoniabeneficios"><img src="public/uploads/midia/trirevistas.gif" alt=""></a></li><li style="background-image:url('public/uploads/midia/mackenzie.jpg');"><a href="http://portal.mackenzie.br/"><img src="public/uploads/midia/mackenzie.jpg" alt=""></a></li><li style="background-image:url('public/uploads/midia/emagrecentro.jpg');"><a href="http://www.emagrecentro.com.br/"><img src="public/uploads/midia/emagrecentro.jpg" alt=""></a></li><li style="background-image:url('public/uploads/midia/anhembi.jpg');"><a href="http://portal.anhembi.br/"><img src="public/uploads/midia/anhembi.jpg" alt=""></a></li><li style="background-image:url('public/uploads/midia/parque.jpg');"><a href="http://http://sitenovo.harmoniahost.com.br/beneficios/lazer/wetn-wild"><img src="public/uploads/midia/parque.jpg" alt=""></a></li><li style="background-image:url('public/uploads/midia/oticas_carol.png');"><a href="http://http://www.oticascarol.com.br/"><img src="public/uploads/midia/oticas_carol.png" alt=""></a></li><li style="background-image:url('public/uploads/midia/unnamed.jpg');"><a href="http://www.onodera.com.br/‎"><img src="public/uploads/midia/unnamed.jpg" alt=""></a></li><li style="background-image:url('public/uploads/midia/giuliana-flores.jpg');"><a href="https://giulianaflores.parceriasonline.com.br/harmonia-beneficios"><img src="public/uploads/midia/giuliana-flores.jpg" alt=""></a></li><li style="background-image:url('public/uploads/midia/mobly.png');"><a href="https://mobly.parceriasonline.com.br/harmonia-beneficios"><img src="public/uploads/midia/mobly.png" alt=""></a></li><li style="background-image:url('public/uploads/midia/ung_logo.jpg');"><a href="http://www.ung.br/"><img src="public/uploads/midia/ung_logo.jpg" alt=""></a></li><li style="background-image:url('public/uploads/midia/aquario.jpg');"><a href="http://www.aquariodesp.com.br/harmoniabeneficios"><img src="public/uploads/midia/aquario.jpg" alt=""></a></li><li style="background-image:url('public/uploads/midia/cm_logoalta.jpg');"><a href="https://cestasmichelli.parceriasonline.com.br/harmonia-beneficios"><img src="public/uploads/midia/cm_logoalta.jpg" alt=""></a></li><li style="background-image:url('public/uploads/midia/oticas_do_povo.jpg');"><a href="http://www.oticasdopovo.com.br/"><img src="public/uploads/midia/oticas_do_povo.jpg" alt=""></a></li><li style="background-image:url('public/uploads/midia/magazine.png');"><a href="http://clube.magazineluiza.com.br/parceiros"><img src="public/uploads/midia/magazine.png" alt=""></a></li><li style="background-image:url('public/uploads/midia/ricardo_copia_1.png');"><a href="http://www.ricardoeletro.com.br/harmoniabeneficios"><img src="public/uploads/midia/ricardo_copia_1.png" alt=""></a></li><li style="background-image:url('public/uploads/midia/passarela_2.png');"><a href="http://www.passarela.com.br/home/harmonia?promotion=parceiroharmonia"><img src="public/uploads/midia/passarela_2.png" alt=""></a></li><li style="background-image:url('public/uploads/midia/saraiva_logo.png');"><a href="https://saraiva.parceriasonline.com.br/harmonia-beneficios"><img src="public/uploads/midia/saraiva_logo.png" alt=""></a></li><li style="background-image:url('public/uploads/midia/eletrolux1.png');"><a href="https://shopclubelectrolux.parceriasonline.com.br/harmonia-beneficios"><img src="public/uploads/midia/eletrolux1.png" alt=""></a></li><li style="background-image:url('public/uploads/midia/magic.jpg');"><a href="http://www.cupom.magiccity.com.br"><img src="public/uploads/midia/magic.jpg" alt=""></a></li><li style="background-image:url('public/uploads/midia/extra_logo.jpg');"><a href="http://www.extra.com.br/loja/lojadebeneficios.aspx?utm_source=b2b_harmoniabeneficios&utm_medium=harmoniabeneficios&utm_campaign=harmoniabeneficios_parceiro"><img src="public/uploads/midia/extra_logo.jpg" alt=""></a></li><li style="background-image:url('public/uploads/midia/logo_casas.jpg');"><a href="http://www.casasbahia.com.br/loja/lojadebeneficios.aspx?utm_source=b2b_harmoniabeneficios&utm_medium=harmoniabeneficios&utm_campaign=harmoniabeneficios_parceiro"><img src="public/uploads/midia/logo_casas.jpg" alt=""></a></li><li style="background-image:url('/public/uploads/midia/logo_pf_2.jpg');"><a href="http://www.pontofrio.com.br/b2b/lojadebeneficios.aspx?utm_source=b2b_harmoniabeneficios&utm_medium=harmoniabeneficios&utm_campaign=harmoniabeneficios_parceiro"><img src="/public/uploads/midia/logo_pf_2.jpg" alt=""></a></li><li style="background-image:url('/public/uploads/midia/eotica.jpg');"><a href="https://eotica.parceriasonline.com.br/harmonia-beneficios"><img src="/public/uploads/midia/eotica.jpg" alt=""></a></li><li style="background-image:url('/public/uploads/midia/logo_marcyn.png');"><a href="https://marcyn.parceriasonline.com.br/harmonia-beneficios"><img src="/public/uploads/midia/logo_marcyn.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/puket.png');"><a href="https://puket.parceriasonline.com.br/harmonia-beneficios"><img src="/public/uploads/midia/puket.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/logo-unip3.jpg');"><a href="http://www.unip.br"><img src="/public/uploads/midia/logo-unip3.jpg" alt=""></a></li><li style="background-image:url('/public/uploads/midia/download_1.png');"><a href="http://www.odontocap.com.br/site/"><img src="/public/uploads/midia/download_1.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/mm.jpg');"><a href="http://www.compracerta.com.br/harmonia"><img src="/public/uploads/midia/mm.jpg" alt=""></a></li><li style="background-image:url('/public/uploads/midia/web-jorgecouriseguros-logo.png');"><a href="http://www.jorgecouriseguros.com.br/"><img src="/public/uploads/midia/web-jorgecouriseguros-logo.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/ logo1.png   universida…unicid.png   logo_1469907371.png');"><a href="http://www.unicid.edu.br/‎"><img src="/public/uploads/midia/ logo1.png   universida…unicid.png   logo_1469907371.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/logo_unidade_usjt.jpg');"><a href="http://www.usjt.br"><img src="/public/uploads/midia/logo_unidade_usjt.jpg" alt=""></a></li><li style="background-image:url('/public/uploads/midia/teste1_copia_1.jpg');"><a href="https://malwee.parceriasonline.com.br/harmonia-beneficios"><img src="/public/uploads/midia/teste1_copia_1.jpg" alt=""></a></li><li style="background-image:url(' /public/uploads/midia/untitled-1.jpg');"><a href="http://www.aldeiadasaguasresort.com.br/home"><img src=" /public/uploads/midia/untitled-1.jpg" alt=""></a></li><li style="background-image:url(' /public/uploads/midia/netfarma.png');"><a href="http://www.netfarma.com.br/harmonia"><img src=" /public/uploads/midia/netfarma.png" alt=""></a></li><li style="background-image:url(' /public/uploads/midia/images_copia_1.png');"><a href="http://movemais.fmu.br/vestibular-move-mais/"><img src=" /public/uploads/midia/images_copia_1.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/estacio-log.png');"><a href="http://www.estacio.br/"><img src="/public/uploads/midia/estacio-log.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/fiap-175-75_1_1.jpg');"><a href="https://www.fiap.com.br/"><img src="/public/uploads/midia/fiap-175-75_1_1.jpg" alt=""></a></li><li style="background-image:url('/public/uploads/midia/camilo.png');"><a href="http://www.camilloseguros.com.br/"><img src="/public/uploads/midia/camilo.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/logo_cliente.jpg');"><a href="http://www.fsv.edu.br/"><img src="/public/uploads/midia/logo_cliente.jpg" alt=""></a></li><li style="background-image:url('/public/uploads/midia/centa.png');"><a href="https://centauro.parceriasonline.com.br/harmonia-beneficios"><img src="/public/uploads/midia/centa.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/zattini_marca_horizontal.png');"><a href="http://bit.ly/2RyBrh8"><img src="/public/uploads/midia/zattini_marca_horizontal.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/casa1.png');"><a href="https://casadascuecas.parceriasonline.com.br/harmonia-beneficios"><img src="/public/uploads/midia/casa1.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/posthaus.png');"><a href="https://posthaus.parceriasonline.com.br/harmonia-beneficios"><img src="/public/uploads/midia/posthaus.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/pe.png');"><a href="https://petz.parceriasonline.com.br/harmonia-beneficios"><img src="/public/uploads/midia/pe.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/logo.jpg');"><a href="https://philips.parceriasonline.com.br/harmonia-beneficios"><img src="/public/uploads/midia/logo.jpg" alt=""></a></li><li style="background-image:url('/public/uploads/midia/025_copia_1.jpg');"><a href="https://loja.multiclubes.com.br/hotbeach/ingressos/Convênios%20Hot%20Beach"><img src="/public/uploads/midia/025_copia_1.jpg" alt=""></a></li><li style="background-image:url('/public/uploads/midia/print.png');"><a href="http://www.abraspesp.com.br/public/uploads/midia/guincho.pdf"><img src="/public/uploads/midia/print.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/hot_park_alta_1.jpg');"><a href="https://loja.multiclubes.com.br/rqr/ingressos/Convenio"><img src="/public/uploads/midia/hot_park_alta_1.jpg" alt=""></a></li><li style="background-image:url('/public/uploads/midia/af_marca_avivaalgarflc_vert_pos_1.png');"><a href="http://www.abraspesp.com.br/public/uploads/midia/valetur.pdf"><img src="/public/uploads/midia/af_marca_avivaalgarflc_vert_pos_1.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/rqr_vertical_alta_1_copia_1.jpg');"><a href="http://www.rioquenteresorts.com.br/"><img src="/public/uploads/midia/rqr_vertical_alta_1_copia_1.jpg" alt=""></a></li><li style="background-image:url('/public/uploads/midia/marabraz.jpg');"><a href="https://marabraz.parceriasonline.com.br/harmonia-beneficios"><img src="/public/uploads/midia/marabraz.jpg" alt=""></a></li><li style="background-image:url('/public/uploads/midia/movida.png');"><a href="https://parcerias.movida.com.br/beneclube"><img src="/public/uploads/midia/movida.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/asus_logo_copia_2.png');"><a href="https://asus.parceriasonline.com.br/harmonia-beneficios"><img src="/public/uploads/midia/asus_logo_copia_2.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/avon_store.png');"><a href="https://avonstore.parceriasonline.com.br/harmonia-beneficios"><img src="/public/uploads/midia/avon_store.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/central_ar.png');"><a href="https://centralar.parceriasonline.com.br/harmonia-beneficios"><img src="/public/uploads/midia/central_ar.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/e-lens.jpg');"><a href="https://e-lens.parceriasonline.com.br/harmonia-beneficios"><img src="/public/uploads/midia/e-lens.jpg" alt=""></a></li><li style="background-image:url('/public/uploads/midia/evino_800pxl.png');"><a href="https://evino.parceriasonline.com.br/harmonia-beneficios"><img src="/public/uploads/midia/evino_800pxl.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/logo_hoteis.jpg');"><a href="https://hoteis.parceriasonline.com.br/harmonia-beneficios"><img src="/public/uploads/midia/logo_hoteis.jpg" alt=""></a></li><li style="background-image:url('/public/uploads/midia/ikesaki-logo.png');"><a href="https://ikesaki.parceriasonline.com.br/harmonia-beneficios"><img src="/public/uploads/midia/ikesaki-logo.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/intimissimi.png');"><a href="https://intimissimi.parceriasonline.com.br/harmonia-beneficios"><img src="/public/uploads/midia/intimissimi.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/l_occitane.png');"><a href="https://loccitane.parceriasonline.com.br/harmonia-beneficios"><img src="/public/uploads/midia/l_occitane.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/novaflor_br.jpg');"><a href="https://novaflor.parceriasonline.com.br/harmonia-beneficios"><img src="/public/uploads/midia/novaflor_br.jpg" alt=""></a></li><li style="background-image:url('/public/uploads/midia/obabox.jpg');"><a href="https://obabox.parceriasonline.com.br/harmonia-beneficios"><img src="/public/uploads/midia/obabox.jpg" alt=""></a></li><li style="background-image:url('/public/uploads/midia/privalia-3550114864.png');"><a href="https://convite.privalia.com/pmt-privalia/?provider=desktop:nm:partners:cobranding:proxymedia30.com:leads.desktop:na-na-na:geralparceiros"><img src="/public/uploads/midia/privalia-3550114864.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/divinna_casa_logo.png');"><a href="https://divinna-casa.webnode.com/"><img src="/public/uploads/midia/divinna_casa_logo.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/logo_moni_eventos1.png');"><a href="https://monieventospravoce.wixsite.com/dani"><img src="/public/uploads/midia/logo_moni_eventos1.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/use_taxi.png');"><a href="http://www.usetaxi.com.br/"><img src="/public/uploads/midia/use_taxi.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/20121020170135logo_unicid_2012_copia_1.jpg');"><a href="https://www.unicid.edu.br/processo-seletivo/graduacao-presencial/?utm_source=google_search&utm_medium=texto&utm_campaign=2019_1_marca_unicid&utm_content=mensalidade_90&utm_term=unicid&gclid=EAIaIQobChMIt-7Wo-LE3gIVyAiRCh1hZg9fEAAYASAAEgLB4PD_BwE"><img src="/public/uploads/midia/20121020170135logo_unicid_2012_copia_1.jpg" alt=""></a></li><li style="background-image:url('/public/uploads/midia/download_copia_1.png');"><a href="https://www.ghelfond.com.br/"><img src="/public/uploads/midia/download_copia_1.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/sephora_logoflame_blackbase.jpg');"><a href="https://sephora.parceriasonline.com.br/harmonia-beneficios"><img src="/public/uploads/midia/sephora_logoflame_blackbase.jpg" alt=""></a></li><li style="background-image:url('/public/uploads/midia/trocalogo.png');"><a href="https://trocafone.parceriasonline.com.br/harmonia-beneficios"><img src="/public/uploads/midia/trocalogo.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/download_1_copia_2.png');"><a href="https://www.hotelurbano.com/afiliados/harmonia?cmp=1916&utm_source=clubehu&utm_campaign=harmonia"><img src="/public/uploads/midia/download_1_copia_2.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/carrefour-logo-vector-400x400_1.png');"><a href="https://supermercadocarrefour.parceriasonline.com.br/harmonia-beneficios"><img src="/public/uploads/midia/carrefour-logo-vector-400x400_1.png" alt=""></a></li><li style="background-image:url('/public/uploads/midia/kisspng-logo-the-timberland-company-brand-clothing-shoe-timberland-5b50cc715c2c01.jpg');"><a href="https://timberland.parceriasonline.com.br/harmonia-beneficios"><img src="/public/uploads/midia/kisspng-logo-the-timberland-company-brand-clothing-shoe-timberland-5b50cc715c2c01.jpg" alt=""></a></li><li style="background-image:url('/public/uploads/midia/02_unidas_algueldecarros_certa-03_copia_1.png');"><a href="http://parceiros.unidas.com.br/ppu_unidas/servlet/hhome?harmonia+beneficios,,0"><img src="/public/uploads/midia/02_unidas_algueldecarros_certa-03_copia_1.png" alt=""></a></li></ul>    </div>
  </section>
  <footer id="rodape">
    <div class="container">
      <table class="h5">
        <tbody>
          <tr>
            <td style="width:450px;"><p>Copyright © 2014<br/><span><strong>ABRASPESP</strong></span><br/>Todos os direitos reservados.<p/></td>
            <td style="width:150px;">
              <span style="font-size:12px;">Telefone</span><br>
              11 3488.5633<br>
              0800 723 0393            </td>
            <td style="width:225px;">
              <span style="font-size:12px;">E-mail</span><br>
              contato@abraspesp.com.br 
            </td>
            <td><a href="http://brainscom.com/" target="_blank"><img src="http://www.abraspesp.com.br/public/images/desenvolvido_por_brainscom.png" alt="Desenvolvido por Brainscom"></a></td>
          </tr>
        </tbody>
      </table>
      <div class="clearfix"></div>
    </div><!--FIM .container-->
  </footer><!--FIM footer (#rodape)-->
  <div id="blueimp-gallery" class="blueimp-gallery" data-you-tube-click-to-play="false" data-vimeo-click-to-play="false" data-use-bootstrap-modal="false" data-fullScreen="true" style="display: none;">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<script type="text/javascript" src="http://www.abraspesp.com.br/public/js/scrollingcarousel.2.0.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {
  $('#imageScroll').scrollingCarousel({
    autoScroll: true,
    autoScrollSpeed: 50000
  });

  $("a[href='"+window.location+"']").parents("li").addClass('ativo');

});
</script>
</body>
</html>